nav{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: lightskyblue;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
nav .navItem {
    color:rgb(119, 39, 156);

}

#spaceImg{
    margin: 10px;
}
.intro {
    font-size: 20px;
}

a[href="https://www.nasa.gov"]{
    color: violet;
    font-style: normal;
}

#nasa{
    font-style: italic;
}
a[href="https://www.nasa.gov"]:hover{
    color: darkblue;
}

.intro::after{
    content: ":)";
}
::placeholder {
    color:rgb(0, 0, 0);
    font-size: 11px;
}
.overrideText {
    color:blueviolet;
}
#overrideText { 
    color:goldenrod;
}
.block {
    background-color: salmon;
    width: 100px;
    height: 100px;
    margin: 20px;
}
.inline {
    background-color: aqua;
    margin: 15px;
}
.inlineBlock {
    color: gray;
    background-color: azure;
    width: 50px;
    width: 50px;
}
.inlineBlock:hover{
    color: rgb(52, 51, 51);
}
.planetTable{
    display: flex; 
    justify-content: space-around;
    align-items:flex-start;
    background-color: palegoldenrod;
    width: 500px;
    height: 500px;
    margin: 20px;
}   
.first{
    align-self: flex-start;
}
.second{
    align-self: center;
}
.third{
    align-self: flex-end;
}
.fourth{
    align-self: flex-start;
}
#containerGrid{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: darkkhaki;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#containerGrid .item:nth-child(1){
    background-color: darkgoldenrod;
    grid-column: 1 / 2;
}
#containerGrid .item:nth-child(2){
    background-color: coral;
    grid-row: 4 / 5;
}
#containerGrid .item:nth-child(3){
    background-color:darkslategray;
    grid-column: 4 / 5;
}
#containerGrid .item:nth-child(4){
    background-color: hotpink;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 8px;
    border: 3px black dashed;
    margin: 20px;
}
/* This is a css file */ 