*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
    background-image: url(https://images.pexels.com/photos/1933900/pexels-photo-1933900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
    margin: 2px;
    box-shadow: 10px 10px ;
    overflow: hidden;
}
.cardHeader{
    display: inline-block;
    width: 100%;
    height: 100px;
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20200728/pngtree-futuristic-blue-wavy-llines-background-with-glow-effect-can-be-used-image_368096.jpg) center/cover no-repeat;
    border-radius: 15px 15px 0px 0px;
    
}
.profileImg{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(https://avatars.githubusercontent.com/u/114625247?v=4) center/cover no-repeat;
    border-radius: 50px;
    border: 3px solid white;
    top:73px;
    left: 43%;
}
.cardBody{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#lastName{
    color:darkblue;
    font-weight: bolder;
}
.profileInfo{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 30px;
    width: 100%;
    height: 65px;
}
.profileInfo p:nth-child(1){
    font-size: 50%;
    text-align: center;
}
.profileInfo p:nth-child(2){
    font-size: 45%;
    text-align: center;
}
.cardFooter{
    display: flex;
    width: 100%;
    height: 30px;
}
.cardFooter #portfolioButton{
    display: inline-block;
    width: 250px;
    height: 32px;
    border-radius:  0px 0px 15px 15px;
    background-color: darkblue;
    color: white;
}
.cardFooter #portfolioButton:hover{
    background-color: lightskyblue ;
    color:black;
}
